<div class="row sm mb-5 pt-5">
    <div class="col-sm-8 mx-auto">
        <h1 class="display-1 text-primary">Cześć!</h1>
        <h2> Jesteś prawie w sklepie. Zaloguj się aby rozpocząć zakupy. </h2>
    </div>
</div>
<div class="row justify-content-center">
    <div style="position: relative;" class="col-sm-6 border py-4 px-4">
        <app-overlay *ngIf="loginInProcess"></app-overlay>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="inputEmail" class="form-label" email>Adres Email</label>
                <input type="email" formControlName="email" [class.is-invalid]="invalid(email)"
                    [class.is-valid]="valid(email)" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                <div *ngIf="email.errors?.['required']" class="invalid-feedback d-block">
                    Pole nie może być puste.
                </div>
                <div *ngIf="email.errors?.['email']" class="invalid-feedback d-block">
                    Pole musi zawierać poprawny email.
                </div>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Hasło</label>
                <input type="password" formControlName="password" [class.is-invalid]="invalid(password)"
                    [class.is-valid]="valid(password)" class="form-control" id="inputPassword">
                <div *ngIf="password.errors?.['required']" class="invalid-feedback d-block">
                    Pole nie może być puste.
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" formControlName="stayLoggedIn" class="form-check-input" id="stayLoggedInCheck">
                <label class="form-check-label" for="stayLoggedInCheck">Pozostań zalogowany</label>
            </div>
            <button type="submit" [class.disabled]="loginForm.invalid" class="btn btn-primary">Zaloguj się</button>
        </form>
    </div>
</div>

<ng-template #loginErrorModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Zalogowanie się nie powiodło.</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="display-5">{{ modalErrorMessage }}</p>
    </div>
</ng-template>